body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.emoji:hover{
  color: black;
}

.user-profile:hover{
  background-color: aliceblue;
}

div.hide{
  display: none;
  transform: translateX(-100%);
  transition: 2s;
}

div.show {
  display: flex;
  transform: translateX(0);
}

@media (max-width: 768px) {
  .wrapper{
    display: flex;
    overflow-x: scroll;
  }
  .chat-grid{
    display: flex
  }
  .profile{
  width: 90%;
  background-color: aqua;
}

}